body {
    margin:0; 
    padding:0;
    font-family:"Lato",Arial,sans-serif;
  }
  
  h1 {
    margin:0; 
    padding:0;
    font-family:"Poppins",Arial,sans-serif;
  }
  
  header {
    background-color: #082B59;
    color:#F2F2F2; 
    text-align:center;
    padding:0 0 1rem 0;
    border-bottom:10px solid #D98555
  }
  
  header ul {
    list-style-type: none;
    padding:0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap:2rem;
    margin-top:0;
  }
  
  #logo img {
   width:14rem;
  }
  
  header .gulp-icon {
    display:inline-block;
    margin-right:.5rem;
  }
  
  header a {
    color:#F2F2F2;
    text-decoration:none;
  }
  
  header a:hover {
    text-decoration:underline;  
  }
  
  footer {
    background-color: #082B59;
    color:#F2F2F2; 
    text-align:center;
    padding:1rem 0 1rem 0;
  }
  
  footer ul {
    list-style-type: none;
    padding:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap:2rem;
  }
  
  footer .gulp-icon {
    display:inline-block;
    margin-right:.5rem;
    color:#F2F2F2;
    font-size:1.25rem;
  }
  
  main{
    padding:2rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap:2rem;
    background: #ffffff url(https://assets.codepen.io/6306176/gulp-bean-bkgd.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  
  main section{
    flex-basis:0;
    flex-grow:1; 
    
  }
  
  main p a{
    color:#59331D;
    text-decoration:none;
    
  }
  
  main p a:hover{
    color:#D98555;
  }
  
  main .button{
    text-decoration:none;
    display:inline-block;
    background-color:#59331D;
    color:#F2F2F2;
    padding:.75rem;
    border-radius:1rem;
    border:3px solid #59331D;
    
  }
  
  main .button:hover{
    border:3px solid black;
  }
  
  main picture p{
    background-color:#59331D;
    color:#F2F2F2;
    padding:.75rem;
    margin:0;
  }
  
  main picture{
    width:20rem;
    border-radius:1rem;
    overflow:hidden;
  }
  
  main picture img {
    display:block;
    object-fit:cover;
    width:100%
  }


  @media screen and (min-width:768px) and (max-width:992px){
    main{
      flex-flow:row wrap;
    }
  }

  @media screen and (min-width:993px){
    main{
      flex-flow:row wrap;
    }
    
    header ul{
      flex-flow:row wrap;
      justify-content: space-between;
      align-items:flex-end;
      margin-right:1rem;
    }
    
    header {
      text-align: left;
      
    }

    #logo {
      flex-basis:65%;
      margin-left:1rem;
    }


  }
